@{
    Layout = "_Layout";

    var roleId = (User.IsInRole("3")) ? "3" : ((User.IsInRole("1") ? "1" : "2"));
}
<input type="hidden" id="userId" value="@Context.User.Identity.Name" />
<input type="hidden" id="registerId" value="@Context.User.FindFirst(c => c.Type == "RegisterId").Value" />
<input type="hidden" id="roleId" value="@roleId" />

<script language="javascript" type="text/javascript">
    var uri = "ws://" + window.location.host + "/messageshub/?userId=" +
        $("#userId").val() + "&registerId=" + $("#registerId").val() + "&roleId=" + $("#roleId").val();

    var uri2 = "ws://" + window.location.host + "/messageshub";

    function connect() {
        socket = new WebSocket(uri);

        socket.onopen = function (event) {
            console.log("opened connection to " + uri);
        }

        socket.onclose = function (event) {
            console.log("closed connection from " + uri);
        }

        socket.onmessage = function (event) {
            var item = document.createElement("li");
            item.appendChild(document.createTextNode(event.data));
            document.getElementById("message-container-dialog").appendChild(item);
        }
    }

    connect();
</script>
<div id="main-message-container">
    <div id="help-container"> @await Component.InvokeAsync("MessageHelp")</div>
    <div id="receiver-container"></div>
    <div id="message-exchange-container">
        <div id="message-container-dialog"></div>
        <input type="hidden" id="selected-help-id" value="" />
        <input type="hidden" id="selected-user-id" value="" />
        <input type="hidden" id="selected-user-register-id" value="" />
        <input type="hidden" id="selected-user-role-id" value="" />
        <textarea id="text-enter"></textarea>
        <input type="button" id="send-text" />
    </div>
</div>
<script>
    $(document).ready(function ($) {

        $(document).on("click", "#help-container div", LoadUsers);
        $(document).on("click", "#receiver-container div", SetUserSelected);
        $(document).on("click", "#send-text", SendMessage);

        var helpId = $("#help-container").first().find("#help-id").val();
        $("#receiver-container").load("message/loadusers?helpId=" + helpId);
    });

    function SetUserSelected() {
        var receiverId = $(this).find("#receiver-id").val();
        var registerId = $(this).find("#register-id").val();
        var roleId = $(this).find("#role-id").val();

        $("#selected-user-id").val(receiverId);
        $("#selected-user-register-id").val(registerId);
        $("#selected-user-role-id").val(roleId);
    }

    function LoadUsers() {
        var helpId = $(this).find("help-id").val();
        $("#receiver-container").load("message/loadusers?helpId=" + helpId);
        var receiverId = $("#receiver-container").first("div").find("#receiver-id").val();
        var registerId = $("#receiver-container").first("div").find("#register-id").val();
        var roleId = $("#receiver-container").first("div").find("#role-id").val();

        $("#selected-help-id").val(helpId);
        $("#selected-user-id").val(receiverId);
        $("#selected-user-register-id").val(registerId);
        $("#selected-user-role-id").val(roleId);
    }

    function SendMessage(message) {
        var message = $("#text-enter").val();
        var receiverId = $("#selected-user-id").val();
        var registerId = $("#selected-user-register-id").val();
        var roleId = $("#selected-user-role-id").val();
        $.ajax({
            url: "http://" + window.location.host + "/message/send/?receiverId=" + receiverId + "&registerId=" + registerId + "&roleId=" + roleId + "&message=" + message,
            method: 'GET'
        });

        var messageContainer = $("<li>").text(message);

        $("#message-container-dialog").append(messageContainer);
    }
</script>