#header1 {
    float: left;
    margin-left: 2%;
}

#header2 {
    color: white;
    text-transform: uppercase;
    padding-top: 4%;
    font: normal 23px/22px 'PT Serif Caption';
    letter-spacing: -0.06em;
}

#header3 {
    font: normal 10px/10px Arial;
    color: #21538E;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 10px 0px;
}
