/* drop-down function is here */
#nav > ul > li {
    display: inline-block;
    position: relative;
}

#nav > ul > li:hover > ul {
    display: block;
}

#nav > ul > li > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* drop-down style is here*/

#nav {
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
}

#nav > ul {
    display: inline-block;
    border-radius: 0.35em;
    box-shadow: inset 0px 0px 1px 1px black;
    padding: 0 1.5em 0 1.5em;
}

#nav > ul > li {
    display: inline-block;
    text-align: center;
    padding: 0 1.5em 0 1.5em;
}

#nav > ul > li > ul {
    display: none;
}

#nav > ul > li a{
    display: block;
    color: #eee;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: 0;
}

#nav > ul > li:hover > a {
    color: #fff;
}

#nav > ul > li.active > a {
    color: #fff;
}

#nav > ul > li > ul > li > a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#nav > ul > li {
    display: inline-block;
}

#nav > ul > li > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#nav > ul > li > ul a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav > ul > li > ul a:hover {
    background-color: #f1f1f1;
}

#nav > ul > li > ul > li{
    list-style:none;
}