body {
   
}

#header {
    float: left;
    background-image: url("/Components/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 2%;
}


#header1{
    float: left;
    margin-left: 2%;
}
#header2 {
    color: white;
    text-transform: uppercase;
    padding-top: 4%;
    font: normal 23px/22px 'PT Serif Caption';
    letter-spacing: -0.06em;
}
#header3 {
    font: normal 10px/10px Arial;
    color: #21538E;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 10px 0px;
}
#navigation{
     clear: both;
 }

#nav {
	display: block;
	left: 0;
	width: 100%;
	text-align: center;
    
}

	#nav > ul {
		display: inline-block;
		border-radius: 0.35em;
		box-shadow: inset 0px 0px 1px 1px black;
		padding: 0 1.5em 0 1.5em;
	}

	#nav > ul > li {
		display: inline-block;
		text-align: center;
		padding: 0 1.5em 0 1.5em;
	}

	#nav > ul > li > ul {
		display: none;
	}

    #nav > ul > li > a, #nav > ul > li > span {
    display: block;
    color: #eee;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: 0;
    }

	#nav > ul > li:hover > a {
		color: #fff;
	}

    #nav > ul > li.active > a, #nav > ul > li.active > span {
	    color: #fff;
    }



    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

        

    .dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}
.mySlides {
    display: none;
   
}
#main{
   
}
    #main1 {

        max-width: 700px;
        margin: auto;
    }
#footer{
    background-color:#1F3F69;
    min-height: 200px;
    color:white;
}
#footer1 {
    padding: 16px 50px;
    font-size: 12px;
    color: #8094A7;
    background-color: #00294f;
    height: 50px;
}
#footer2 {
    font-size: 21px;
    color: white;
    margin-bottom: 20px;
    line-height: 24px;
}
    