<li>
    <a href="#">Помощь </a>
    <ul>
        <li><a href="#">Психологическая помощь</a></li>
        <li><a href="#">Правовая помощь</a></li>
        <li><a href="#">Медицинская помощь</a></li>
        <li><a href="#">Получение Образования </a></li>
        <li><a href="#">Защита Прав</a></li>
        <li><a href="#">Трудоустройство</a></li>
        <li><a href="#">Правовые акты</a></li>
    </ul>
</li>
<li>
    <a asp-controller="Message" asp-action="Index">Консультация</a>
</li>
<li>
    <a href="#">Управление</a>
    <ul>
        <li><a asp-controller="User" asp-action="Index">Пользователи</a></li>
        <li><a asp-controller="Register" asp-action="Index">Регистрации</a></li>
        <li><a asp-controller="Address" asp-action="Index">Адреса</a></li>
    </ul>
</li>