@inject CondemnedAssistance.Hubs.WebSocketMessageHandler SocketsHandler
@using System.Net.WebSockets
@using System.Threading
<li class="drop">
    <a href="#"><b>ПОМОЩЬ</b></a>
    <div class="dropdownContain">
        <div class="dropOut">

            <ul>
                <li><a asp-controller="Help" asp-action="psychohelp" style=" padding: 0px;  line-height: 0;"><b>ПСИХОЛОГИЧЕСКАЯ</b></a></li>
                <li><a asp-controller="Help" asp-action="pravohelp" style=" padding: 0px;  line-height: 0;"><b>ПРАВОВАЯ</b></a></li>
                <li><a asp-controller="Help" asp-action="medhelp" style=" padding: 0px;  line-height: 0;"><b>МЕДИЦИНСКАЯ</b></a></li>
                <li><a asp-controller="Help" asp-action="obrhelp" style=" padding: 0px;  line-height: 0;"><b>ПОЛУЧЕНИЕ ОБРАЗОВАНИЯ</b></a></li>
                <li><a asp-controller="Help" asp-action="zawitahelp" style=" padding: 0px;  line-height: 0;"><b>ЗАЩИТА ПРАВ</b></a></li>
                <li><a asp-controller="Help" asp-action="trudhelp" style=" padding: 0px;  line-height: 0;"><b>ТРУДОУСТРОЙСТВО</b></a></li>
                <li><a asp-controller="Help" asp-action="aktyhelp" style=" padding: 0px;  line-height: 0;"><b>ПРАВОВЫЕ АКТЫ</b></a></li>
            </ul>
        </div>
    </div>
</li>

<li>
    <a asp-controller="Message" asp-action="Index">КОНСУЛЬТАЦИЯ</a>
</li>
<li class="drop">
    <a href="#">Управление</a>
    <div class="dropdownContain">
        <div class="dropOut">
            <ul>
                <li><a asp-controller="User" asp-action="Index">Пользователи</a></li>
                <li><a asp-controller="Register" asp-action="Index">Регистрации</a></li>
                <li><a asp-controller="Address" asp-action="Index">Адреса</a></li>
            </ul>
        </div>
    </div>
</li>