<li>
    <a href="#">Помощь </a>
    <ul>
        <li><a href="#">Психологическая помощь</a></li>
        <li><a href="#">Правовая помощь</a></li>
        <li><a href="#">Медицинская помощь</a></li>
        <li><a href="#">Получение Образования </a></li>
        <li><a href="#">Защита Прав</a></li>
        <li><a href="#">Трудоустройство</a></li>
        <li><a href="#">Правовые акты</a></li>
    </ul>
</li>
<li>
    <a href="#">Консультация</a>
</li>