@model CondemnedAssistance.ViewModels.RegisterModel
@{
    Layout = "_Layout";
}
<form asp-controller="Register" asp-action="Create">
    <div>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <input type="hidden" asp-for="RegisterParentId" />
    </div>
    <div>
        <input type="hidden" asp-for="RegisterLevelId" />
    </div>
    <div>
        <select disabled>
            <option value="@Model.RegisterLevelId" selected>@Model.RegisterLevels.FirstOrDefault(r => r.Id == Model.RegisterLevelId).Name</option>
        </select>
    </div>
    @if (Model.RegisterParent != null) {
        <div>
            <select disabled>
                <option selected>@Model.RegisterParent.Name</option>
            </select>
        </div>
    }
    <div>
        <input type="submit" value="Save" />
    </div>
</form>
