@model CondemnedAssistance.ViewModels.RegisterModel
@{
    Layout = "_Layout";
}
<form asp-controller="Register" asp-action="Update">
    <div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <input type="hidden" asp-for="RegisterLevelId" />
    </div>
    <div>
        <select disabled>
            <option>@Model.RegisterLevels.FirstOrDefault(r => r.Id == Model.RegisterLevelId).Name</option>
        </select>
    </div>
    @if (Model.RegisterParent != null) {
        <div>
            <select disabled>
                <option>@Model.RegisterParent.Name</option>
            </select>
        </div>
    }
    <div>
        <input type="submit" />
    </div>
</form>
