<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js" ></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div id="header"></div>
    <div id="navigation">
        @await Component.InvokeAsync("NavigationMenu");
    </div>
    <div>
        @await Component.InvokeAsync("LoginStatus");
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer"></div>
</body>
</html>