<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div id="header"></div>
    <div id="navigation">
        <div>Main</div>
        <div>Help</div>
    </div>
    <div>
        @await Component.InvokeAsync("LoginStatus");
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer"></div>
</body>
</html>