<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div>Menu
        @await Component.InvokeAsync("LoginStatus");
    </div>
    <div class="navigation">
        <div>Main</div>
        <div>Messages</div>
        <div>Management</div>
    </div>
    @RenderBody()
</body>
</html>