<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <environment names="Development">
        <link rel="stylesheet" href="/Components/css/Style.css" />
        <link rel="stylesheet" href="~/Components/css/layout.css" />
        <link rel="stylesheet" href="~/Components/css/header.css" />
        <link rel="stylesheet" href="~/Components/css/navigation.css" />
        <link rel="stylesheet" href="~/Components/css/left-sidebar.css" />
        <link rel="stylesheet" href="~/Components/css/main.css" />
        <link rel="stylesheet" href="~/Components/css/footer.css" />
        <link rel="shortcut icon" href="/Components/img/logo.png" />
    </environment>

    <environment names="Production">
        <link rel="stylesheet" href="/Components/css/Style.css" />
        <link rel="stylesheet" href="~/Components/css/layout.css" />
        <link rel="stylesheet" href="~/Components/css/header.css" />
        <link rel="stylesheet" href="~/Components/css/navigation.css" />
        <link rel="stylesheet" href="~/Components/css/left-sidebar.css" />
        <link rel="stylesheet" href="~/Components/css/main.css" />
        <link rel="stylesheet" href="~/Components/css/footer.css" />
        <link rel="shortcut icon" href="/Components/img/logo.png" />

    </environment>
</head>
<body>
    <div id="header">
        <a href="#"><img id="header1" src="/Components/img/logo.png" /></a>
        <h1 id="header2"> оказание социально - правовой помощи осужденным</h1>
    </div>
    <div id="navigation">
        <nav id="nav">
            <ul>
                <li class="current"><a href="#" >Главная</a></li>
                
                @await Component.InvokeAsync("NavigationMenu")

                @await Component.InvokeAsync("LoginStatus")
                
            </ul>
        </nav>       
    </div>
    <div id="left-sidebar">
        @await Component.InvokeAsync("SideBar", (CondemnedAssistance.Helpers.LinkClass[])ViewData["sidebar"])
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer"></div>
</body>
</html>