<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div>Menu
        @await Component.InvokeAsync("LoginStatus");
    </div>
    <div>Users</div>
    <div>Roles</div>
    @RenderBody()
</body>
</html>