<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link href="~/Components/css/css.css" rel="stylesheet" />
    </environment>
    <environment names="Production">
        <link href="~/Components/css/css.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="header"></div>
    <div id="navigation">
        @await Component.InvokeAsync("NavigationMenu");
    </div>
    <div>
        @await Component.InvokeAsync("LoginStatus");
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer"></div>
</body>
</html>