@{ 
    Layout = "_Layout_Sidebar";
}

<div id="profile">
    <table>
        <tr>
            <td>Login</td>
            <td></td>
        </tr>
        <tr>
            <td>Role</td>
            <td></td>
        </tr>
        <tr>
            <td>Status</td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>F.I.O.</td>
            <td></td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Xin</td>
            <td></td>
        </tr>
        <tr>
            <td>Email</td>
            <td></td>
            <td>Confirmed?</td>
            <td></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td></td>
            <td>Confirmed?</td>
            <td></td>
        </tr>
        <tr>
            <td>Registration</td>
            <td></td>
        </tr>
    </table>
</div>