@{
    Layout = "_Layout";
}
<div style="clear: both;">
    <div class="akt" style="width:1260px;">
        <h1 style="text-align: center; color: rgba(0,69,133,1); margin-top: 35px; text-decoration: none;">
            Нормативно правовые акты регулирующие порядок и виды оказания <br>социально-правовой помощи осужденным
        </h1>


    </div>
    <div class="akt" style="width: 630px; height: 150px;  float: left;">
        <img src="/Components/img/akt.jpg" style="width: 50px; height:50px; float: left;">
        <p style="color:#DC143C; margin-top: 15px; font-size:20px; ">ст.<a href="http://adilet.zan.kz/rus/docs/K1400000234">10</a>, <a href="http://adilet.zan.kz/rus/docs/K1400000234">167</a>, <a href="http://adilet.zan.kz/rus/docs/K1400000234">168</a> УИК РК</p>

    </div>
    <div class="akt" style="width: 630px; height: 150px; float: left;">
        <img src="/Components/img/akt.jpg" style="width: 50px; height:50px; float: left;">
        <p style="color:#DC143C; margin-top: 15px; font-size:20px;">ст.<a href="http://adilet.zan.kz/rus/docs/Z1600000482">3</a>, <a href="">5</a>, <a href="http://adilet.zan.kz/rus/docs/Z1600000482">7</a>, <a href="http://adilet.zan.kz/rus/docs/Z1600000482">9</a>, <a href="http://adilet.zan.kz/rus/docs/Z1600000482">17</a>,<a href="http://adilet.zan.kz/rus/docs/Z1600000482">20</a> Закон РК</p>
        <p> от 06.04.2016 г. за № 482-V "О занятости населения"</p>
    </div>

    <div class="akt" style="width: 630px; height: 150px;  float: left;">
        <img src="/Components/img/akt.jpg" style="width: 50px; height:50px; float: left;">
        <p style="color:#DC143C; margin-top: 15px; font-size:20px;"><a href="http://adilet.zan.kz/rus/docs/P1400001131#z10">п.13</a>-<a href="http://adilet.zan.kz/rus/docs/P1400001131#z10">п.17</a></p>
        <p> Правил оказания социально-правовой помощи лицам ,состоящим на учете службы пробации от 23.10.2014 года за № 1131</p>
    </div>

    <div class="akt" style="width: 630px; height: 150px;  float: left;">
        <img src="/Components/img/akt.jpg" style="width: 50px; height:50px; float: left;">
        <p style="color:#DC143C; margin-top: 15px; font-size:20px;"><a href="http://adilet.zan.kz/rus/docs/P1400001255#z47">п.2</a></p>
        <p>"Правил обеспечения бесплатным проездом,продуктами питания или деньгами " от 28.11.2014 года за №1255</p>
    </div>

    <div class="akt" style="width: 630px; height: 150px; float: left;">
        <img src="/Components/img/akt.jpg" style="width: 50px; height:50px; float: left;">
        <p style="color:#DC143C; margin-top: 15px; font-size:20px;"><a href="http://adilet.zan.kz/rus/docs/P090002136_">п.3</a><a href="http://adilet.zan.kz/rus/docs/P090002136_">п.14</a></p>
        <p>"От утверждении перечня ГОБМП" от 15 декабря 2009 года за №2136</p>
    </div>
</div>

