@{
    Layout = "_Layout";
}
<div style="float: left; margin-top: 10px; margin-right:10px;">
    <img src="/Components/img/med.jpg" style="width: 300px; height: 250px;">
</div>
<div style="margin-top: 55px;">
    <h3 style="color: rgba(0,69,133,1); text-align: center;">Получение медицинской помощи</h3>
    <p>
        Основным направлением социально-правовой помощи условно осужденным является оказание содействия в получении образования, овладении профессией, трудоустройстве, лечении, а также обеспечении правовой помощи.
    </p>
    <p>
        Медицинская помощь предоставляется в государственных учреждениях здравоохранения в рамках гарантированного объема бесплатной медицинской помощи.
    </p>
    <h3 style="color: rgba(0,69,133,1); text-align: center;">Общее положение</h3>
    <p>
        1. Гарантированный объем бесплатной медицинской помощи предоставляется гражданам Республики Казахстан за счет бюджетных средств и включает профилактические, диагностические и лечебные медицинские услуги, обладающие наибольшей доказанной эффективностью.<br>

        2. В гарантированный объем бесплатной медицинской помощи (далее – ГОБМП) включается:<br>

        1) скорая медицинская помощь и санитарная авиация;<br>

        2) амбулаторно-поликлиническая помощь, включающая:<br>

        - первичную медико-санитарную помощь (далее – ПМСП);<br>

        - консультативно-диагностическую помощь (далее – КДП) по направлению специалиста первичной медико-санитарной помощи и профильных специалистов;<br>

        3) стационарная медицинская помощь по направлению специалиста ПМСП или медицинской организации в рамках планируемого количества случаев госпитализации (предельных объемов), определяемых уполномоченным органом в области здравоохранения (далее - уполномоченный орган), по экстренным показаниям – вне зависимости от наличия направления;<br>

        4) стационарозамещающая медицинская помощь по направлению специалиста ПМСП или медицинской организации;<br>

        5) восстановительное лечение и медицинская реабилитация;<br>

        6) паллиативная помощь и сестринский уход для категорий населения, установленныхПравительством Республики Казахстан. <br>
    </p>
    <h3 style="color: rgba(0,69,133,1); text-align: center; "> Что включает в себя бесплатная медицинская помощь?</h3>
    <p>
        1) осмотры, консультации специалистов;<br>

        2) лабораторные и инструментальные исследования в соответствии со стандартами в области здравоохранения;<br>

        3) медицинские услуги (за исключением платных), лекарственное обеспечение в соответствии с лекарственными формулярами по медицинским показаниям;<br>

        4) обеспечение препаратами крови и ее компонентов по медицинским показаниям;<br>

        5) обеспечение соответствующим уходом и питанием, в том числе кормящую мать ребенка до одного года жизни, на весь период пребывания в медицинской организации по уходу за ребенком;<br>

        6) восстановительное лечение и медицинская реабилитация;<br>

        7) паллиативная помощь и сестринский уход.<br>
    </p>


</div>
<div class="div1" style="background-color:rgba(0,69,133,1);">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
