@{
    Layout = "_Layout";
}
<div style="float: left; margin-top: 10px; margin-right:10px;">
    <img src="/Components/img/obr1.jpg" style="width: 300px; height: 250px;">
</div>
<div style="margin-top: 55px;">
    <h3 style="color: rgba(0,69,133,1);">Получение образования </h3>
    <p>Основынм направлением социально-правовой помощи лицам, состоящим на учете службы пробации, является оказание содействия в получении образования, овладении профессией, трудоустройстве, лечении, а также обеспечении правовой помощи.</p>
    <p>
        Лицо, состоящее на учете службы пробации с неоконченным средним образованием службой пробации направляется в учебные заведения по месту жительства.
        Для получения правовой помощи служба пробации направляет копию индивидуальной программы в местные исполнительные органы.
    </p>
    <p>При оказании помощи в трудоустройстве лицу, состоящему на учете службы пробации,  местные исполнительные органы осуществляют следующие мероприятия:</p>
    <p>1) предоставление рабочих мест в рамках инвестиционных проектов, реализуемых по программе по форсированному индустриально-инновационному развитию;<br></p>
    <p>2) привлечение лиц, не имеющих конкурентоспособных профессий, к оплачиваемым сезонным сельскохозяйственным работам;<br></p>
    <p>3) трудоустройство по квоте рабочих мест.<br></p>
    <p>В случае возникновения потребности вышеперечисленной категории лиц в получении иной помощи, служба пробации направляет копию индивидуальной программы в соответствующие организации по месту их жительства.</p><br>
    <p>
        В связи с принятием Правительством данного постановления, будет признано утратившим силу постановление Правительства Республики Казахстан «Об утверждении правил оказания социально-правовой помощи лицам, состоящим на учете службы пробации» от 28 апреля 2012 года № 542 (регистрационный номер акта в Государственном реестре нормативных правовых актов Республики Казахстан
        № 65140).
    </p>
    <p>Таким образом, служба пробации выстраивает эффективную систему социальной реабилитации граждан, освободившихся из мест лишения свободы и находящихся на учете службы пробации.</p>
    <p>Социальная реабилитация – это комплекс мер, направленных на восстановление способности человека к жизнедеятельности в социальной среде, это программы и действия, направленные на восстановление личного и профессионального статуса человека для более полной интеграции в общество. Социальная реабилитация представляет собой взаимозависимый процесс, с одной стороны, направленный на восстановление способности человека к жизнедеятельности в социальной среде, с другой – на изменение характера самой среды, ограничивающей реализацию потребностей человека.</p>

</div>
<div class="div1" style="background-color:rgba(0,69,133,1);">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
