@{
    Layout = "_Layout";
}
<div  style="float: left; margin-top: 10px; margin-right: 10px;">
    <img src="/Components/img/prav.jpg" width="30%" style="float: left; margin-right: 1%;">
    <h3 style="color:rgba(0,69,133,1);">Правовая помощь</h3>
    <h4 style="text-align: center; color:rgba(0,69,133,1) ;">Общее положение</h4>
    <p>
        Правила об оказании социально-правовой помощи (далее – Правила) разработаны в целях реализации статей 63, 69, 169, 172 и 174 Уголовно-исполнительного кодекса Республики Казахстан и определяют порядок оказания социально-правовой помощи лицам, которым судом установлен пробационный контроль и административный надзор.
    </p>
    <p>Таким образом,служба пробации оказывает содействие лицам, состоящим на учете в получении ими социально-правовой помощи.</p>
    <p>Помощь осуществляется со стороны местных исполнительных органов, неправительственных и иных организаций, а также физическими лицами на основе индивидуальной программы разработанной, в свою очередь, службой пробации.</p>
    <h4 style="text-align: center; color: rgba(0,69,133,1);">Что включает в себя социально-правовая помощь?</h4>
    <p>1.Основным направлением социально-правовой помощи лицам, состоящим на учете службы пробации, является оказание содействия в получении образования, овладении профессией, трудоустройстве, лечении, а также обеспечении правовой помощи.</p>
    <p>
        2. Медицинская помощь предоставляется в государственных учреждениях здравоохранения в рамках гарантированного объема бесплатной медицинской помощи.
        Для оказания медицинской помощи служба пробации направляет копию индивидуальной программы в государственные учреждения здравоохранения по месту их жительства.
        3.Направление службой пробации копии индивидуальной программы в местные исполнительные органы для получения правовой помощи.
        4.При оказании помощи в трудоустройстве лицу, состоящему на учете службы пробации, местные исполнительные органы осуществляют следующие мероприятия:<br>
        1) предоставление рабочих мест в рамках инвестиционных проектов, реализуемых по программе по форсированному индустриально- инновационному развитию;<br>
        2) привлечение лиц, не имеющих конкурентоспособных профессий, к оплачиваемым сезонным сельскохозяйственным работам;<br>
        3) трудоустройство по квоте рабочих мест.<br>
        3. Неправомерные действия сотрудников службы пробации, работников местных исполнительных органов, а также работников государственных и негосударственных организаций, оказывающих социально-правовую помощь, могут быть обжалованы в установленном законодательном порядке.
</div>
<div class="div1" style="background-color:rgba(0,69,133,1);">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
