@{
    Layout = "_Layout";
}
<div  style="float: left; margin-right: 2%;">
    <img src="/Components/img/ps.jpg" style="margin-left: 2%;">
</div>
<div style="margin-top:4%;">
    <h3 style="color: rgba(0,69,133,1)" ;>Психологическая помощь</h3>
    <p>Человек, попадая в новые условия, сталкивается с рядом трудностей различного порядка: социального, психологического и физиологического. На этот болезненный процесс уходит много времени и сил. Чтобы снять различные негативные последствия при попадании человека в новые условия, целесообразно провести специальную подготовку к вхождению в них. Для этого была создана служба пробации одной из целей которой, является психологическая подготовка, так как лицо, отбывающее или отбывшее наказание, попадая в новые условия жизни, встречается с трудностями, к преодолению которых оно чаще всего не готово. Результатом этого является поведение, не соответствующее требованиям норм морали и права. Известны факты, когда лица, долгое время отбывающие наказание, не хотят покидать место лишения свободы.</p>
    <p>Пробация осуществляет психологическую подготовку, которая нацелена на развитие способностей к определенной деятельности в конкретных условия и усиление мотивации и нравственного компонента.</p>
    <p>Социальная адаптация граждан, отбывших уголовное наказание, иных лиц, утративших социально полезные связи, заключается в создании необходимых условий для вовлечения их в общественно полезную деятельность и достигается с помощью системы правовых, социально-экономических, воспитательных, организационных и других мер, направленных на реализацию их права на труд, жилище, образование, медицинское обслуживание и других прав и свобод. Меры по социально-психологической реадаптации основываются на принципах законности, гуманизма, справедливости.</p>

    <p>
        Длительная изоляция человека влечет, как известно, психические и социальные негативные последствия.
        Психические последствия выражаются в том, что примерно через 5-7 лет заключения наступают труднообратимые изменения в психике: так, 35% освобождающихся нуждаются в специальной психиатрической или психологической помощи в восстановлении разрушенных механизмов адаптации. Они с трудом приспосабливаются к жизни на свободе, где нужно проявлять активность, энергию, предприимчивость, ответственность, самостоятельность и инициативность. Поэтому чаще всего бывшие осужденные пополняют число лиц без определенного места жительства, попрошаек, мелких воришек, алкоголиков и наркоманов, через некоторое время вновь совершают преступление и оказываются в колонии. Социальные последствия изоляции от общества проявляются в том, что в местах лишения свободы складываются устойчивые общности осужденных со своими тюремными нормами, оказывающими сильное влияние не только на быт и поведение осужденных, но и на философию их жизни.
    </p>

    <p>
        Длительная общественная изоляция вызывает:<br>

        – прочные негативные, криминальные изменения в личности осужденного;<br>

        – разрыв с семьей и утрату родственных связей;<br>

        – поддержку и связь с отрицательной средой за пределами колонии;<br>

        – отсутствие возможности проявить инициативу и самостоятельность в условиях колонии (тюрьмы).
    </p>

    <p>Таким образом,значимость службы пробации сложно переоценить, так как она предоставляет моральную и психологическую помощь бывшим заключенным в самое тяжелое время.</p>
</div>

	
<div class="div1" style="background-color:rgba(0,69,133,1); height: 100%;">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
</div>
<hr>
