@{
    Layout = "_Layout";
}
<div style="float: left; margin-top: 10px; margin-right:10px;">
    <img src="/Components/img/rab.jpg" style="width: 350px; height: 200px;">
</div>
<div style="margin-top: 55px;">
    <h3 style="color: rgba(0,69,133,1);">Трудоустройство</h3>
    <p>
        Социальная адаптация граждан, отбывших уголовное наказание, иных лиц, утративших социально полезные связи, заключается в создании необходимых условий для вовлечения их в общественно полезную деятельность и достигается с помощью системы правовых, социально-экономических, воспитательных, организационных и других мер, направленных на реализацию их права на труд, жилище, образование, медицинское обслуживание и других прав и свобод.
    </p>
    <p>
        Трудовая занятость играет одну из главых ролей в социальной адаптации человека. Поэтому , пробация помогает с трудоустройством в первые месяцы после отбывания уголовного наказания.
    </p>
    <p>
        Пробация осуществляет психологическую подготовку, которая нацелена на развитие способностей к определенной деятельности в конкретных условия и усиление мотивации и нравственного компонента.
    </p>
    <p>
        <h3 style="color: rgba(0,69,133,1);">Пробация: </h3>
        1) обеспечивает трудоустройство лиц, освобожденных из учреждений, находящихся на учете службы пробации;<br>
        2) содействует занятости осужденных, отбывающих наказание в учреждениях уголовно-исполнительной системы, в том числе  путем: <br>
        размещения заказов на товары, работы и услуги, производимые, выполняемые и оказываемые предприятиями и учреждениями уголовно-исполнительной системы;
        привлечения субъектов предпринимательства к открытию, расширению и модернизации на территории учреждений уголовно-исполнительной системы производств, использующих труд осужденных.<br>
        3) оказывает социальную и иную помощь лицам, освобожденным из учреждений, находящимся на учете службы пробации в соответствии с законодательством Республики Казахстан.<br>
    </p>

    <p>
        Все вакансии будут доступны на сайте <a href="http://enbek.kz" target="_blank" style="text-decoration: underline;">enbek.kz</a>.<br>
        Где, представлен широкий выбор вакансий с их описанием, графиком и заработной платой  доступных в вашем городе. В зависимости от вашего оброзования вам будут отправлены уведомления о новых вакансиях. Это упрощает  и сокращает  время поиска работы для лиц, отбывших уголовное наказание.
    </p>
</div>
<div class="div1" style="background-color:rgba(0,69,133,1);">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
