@{
    Layout = "_Layout";
}
<div style="float: left; margin-top:10px; margin-right: 10px;">
    <img src="/Components/img/prava.jpg" ;>
</div>
<div style="margin-top:55px;">
    <h3 style="color: rgba(0,69,133,1); text-align: center;">Защита прав</h3>
    <p>
        Права человека — это права, необходимые нам для полноценной жизни. Без прав человек не можем в полной мере развить и реализовать свои человеческие качества, интеллект и способности и удовлетворить духовные потребности.
    </p>
    <p>
        Одним из приоритетных направлений деятельности Уполномоченного по правам человека в Республике Казахстан в области осуществления мониторинга соблюдения прав человека является наблюдение за соблюдением прав граждан, содержащихся и отбывающих наказание в местах предварительного содержания и исправительных учреждениях, а также лиц, отбывших наказание.
    </p>
    <p>
        Мониторинг соблюдения прав лиц, находящихся в пенитенциарных учреждениях, осуществлялся при тесном сотрудничестве Уполномоченного по правам человека с Комитетом уголовно-исполнительной системы Министерства юстиции РК, а также общественными организациями.Права лиц, находящихся под пробационным контролем, защищаются службой пробации.
    </p>
    <h3 style="color: rgba(0,69,133,1); text-align: center;">Права, защищаемые службой пробации</h3>
    <p>
        1.Право на получение психологической помощи.Пробация осуществляет психологическую подготовку, которая нацелена на развитие способностей к определенной деятельности в конкретных условия и усиление мотивации и нравственного компонента.
    </p>
    <p>
        2.Право на получение медицинской помощи.Медицинская помощь предоставляется в государственных учреждениях здравоохранения в рамках гарантированного объема бесплатной медицинской помощи.
    </p>
    <p>
        3.Право на получение образования.Основынм направлением социально-правовой помощи лицам, состоящим на учете службы пробации, является оказание содействия в получении образования, овладении профессией, трудоустройстве, лечении, а также обеспечении правовой помощи.
    </p>
    <p>
        4.Право на трудоустройство.оказание помощи и содействие в трудоустройстве. В этих целях требуется предусмотреть возможности для заинтересованности индивидуальных предпринимателей и организаций. Например, снижение налоговых ставок в процентном соотношении или в абсолютной сумме на единицу измерения налоговой базы на основании приравнивания их к организациям и индивидуальным предпринимателям, осуществляющим деятельность в социальной сфере.
    </p>



</div>
<div class="div1" style="background-color:rgba(0,69,133,1);">
    <div style="float: left;">
        <h3 style="color: #FFF;">Оказание психологической помощи в вашем городе:</h3>
        <form style="padding-left: 20px;">
            <label for="gor" style="color: #FFF;">
                Ваш город
            </label>
            <select id="gor" name="gor">
                <option>Астана </option>
                <option>Алма-Ата</option>
                <option>Семей</option>
                <option>Павлодар</option>
            </select>
        </form>
        <form style="padding-left: 20px;">
            <label for="adr" style="color: #FFF;">Адрес<br></label>
            <textarea name="adr" rows="5" cols="20 " style="resize: none;"></textarea>
        </form>
    </div>
