@model IEnumerable<CondemnedAssistance.ViewComponents.LinkFormatted>
<div>
    <ul>
        @foreach (var a in Model) {
            <li><a href="@a.FullLink" class="@a.LinkClass">@a.LinkText</a></li>
        }
    </ul>
</div>